{% extends "base.html" %}
{% block titulo %}
	Regitrar Roles
{% endblock titulo %}

{% block contenido %}
<div class="container">
	<div class="page-header">
		<h4>
			<a href="#">
				<span class="fa fa-info-circle fa-lg"></span>
			</a>
			<strong>Registrar un nuevo rol</strong>
		</h4>
	</div>{# page-header #}
	<form class="" method="POST" enctype="multipart/form-data">
			{% csrf_token %}

			{% if form.error %}
			<div class="alert alert-danger" role="alert">
				{{form.error}}
			</div>						
			{% endif %}

			<div class="row">
		      <div class="col-sm-4">
		        <label >Rol</label>
		        {{form.rol}}
		      </div>

		      <div class="col-sm-4">
		        <label >Descripción</label>
		        {{form.descripcion}}
		      </div>  
		    </div>
			<div>
			<div class="pull-right">
		    <button type="submit/button" class="btn btn-success pull-right">Registrar<span class="glyphicon glyphicon-save"></span></button>
		    </div>
		    <div class="btn-group pull-left">
			    <a href="{% url 'perfiles_app:roles' %}" class="btn btn-default">Ir a lista</a>
			    <a href="{% url 'perfiles_app:main' %}" class="btn btn-primary ">Ir al inicio </a>
		    </div>
		    
			</div>
	</form>
</div>
{% endblock contenido %}
