{% extends "base.html" %}
{% block titulo %}
	Add habitación
{% endblock titulo %}

{% block contenido %}
<div class="container">
	<div class="page-header">
		<h4>
			<a href="{% url 'hotel_app:habitacion' %}" class="btn btn-info">
				<span class="glyphicon glyphicon-chevron-left"></span>Regresar
			</a>
			<strong>Registrar habitación</strong>
		</h4>
	</div>{# page-header #}
	<div>
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="row">
		    	<div class="col-sm-4">
		        	<label >Número</label>
			        <div>
			        	{{form.numero}}
			        </div>
			    </div>
			    <div class="col-sm-4">
		        	<label >Piso</label>
			        <div>
			        	{{form.piso}}
			        </div>
			    </div>
			    <div class="col-sm-4">
		        	<label >Tipo</label>
			        <div>
			        	{{form.tipo}}
			        </div>
			    </div>
			    </div>
			    <div class="row">
			    <div class="col-sm-4">
		        	<label >Descripcion</label>
			        <div>
			        	{{form.descripcion}}
			        </div>
			    </div>
			    <div class="col-sm-4">
		        	<label >Estado</label>
			        <div>
			        	{{form.estado}}
			        </div>
			    </div>
		    </div>
		    <div>
		    <button type="submit/button" class="btn btn-success pull-right">Guardar cambios<span class="glyphicon glyphicon-chevron-right"></span></button>
		    </div>
		</form>
	</div>
</div>
{% endblock contenido %}