<div class="modal-header"> 
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 class="modal-title" id="myModalLabel">Confirma eliminar</h3> 
</div> 
<div class="modal-body"> 
    <p>Seguro que desea eliminar <strong>{{object.tipo}} ?</strong>[{{object.id}}]</p>
</div> 
<div class="modal-footer">
    <form action="{% url 'perfil_app:del_tipo' object.id %}" method="post">
        {% csrf_token %}
    <a href="{% url 'perfil_app:tipo' %}" class="btn btn-default">No</a>
    <input type="SUBMIT"  class="btn btn-danger" value="Si">
</form>
</div>
