<div class="panel panel-info">
    <div class="panel-heading" align="center">
        <div class="row">
            <div class="col-md-9">
                <h4>Tipo de usuario</h4>
            </div>
            <div class="col-md-3">
                <a href="#" id="nuevotipo" class="btn btn-default pull-right">Nuevo</a>
            </div>
        </div>
        <!-- <strong>Tipo de usuarios</strong> -->
    </div>
    <div class="panel-body">
        <table cellspacing="0" class="table table-hover" id="tabla_productos">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Opciones</th>
            </tr>
            </thead>
            <tbody>
            {% for lista in listas %}
            <tr id="tr{{p.id}}">
                <td>{{lista.tipo}}</td>
                <td>{{lista.descripcion}}</td>
                <td>
                    <a href="#" >Editar</a>
                    <button value="{{lista.id}}" class="btn btn-danger btnEliminar"><span class="glyphicon glyphicon-trash"></span></button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>    
    </div>
</div>


<script>
$(document).ready(function(){
    $("#nuevotipo").click(function(){
        console.log( "You clicked a in nuevo tipo!" );
        $("#contenido").load("/perfil/tipo/crear/");
    });
    $(".btnEliminar").click(function(){
        var id = $(this).val();
        var r = confirm("Seguro de querer elimnar?"+id);
        if (r==true){
        $.ajax({
            data:{'id':id},
            url:"perfil/tipodel/",
            type:'get',
            success:function(){                                               
            alert("Objeto eliminado!!!");
            $("#contenido").load("{% url 'perfil_app:tipo' %}");
            },
        });
        
        }else{
            $("#contenido").load("{% url 'perfil_app:tipo' %}");
        }
    });
});
</script>
