<div id="addform">
    <div class="panel panel-info">
        <div class="panel-heading" align="center">Agregar nuevo tipo de usuario</div>
        <div class="panel-body">
                <form id="tipoform">{% csrf_token %}
                    <div class="form-group">
                      <label for="tipo">Tipo de usuario:</label>
                      <input type="text" class="form-control" id="tipo" placeholder="Tipo de usuario" required>
                    </div>
                    <div class="form-group">
                      <label for="descripcion">Tipo de usuario:</label>
                      <input type="text" class="form-control" id="descripcion"
                      placeholder="Ingrese una descripcion" required>
                    </div>
                    <button type="submit" class="btn btn-success pull-right">Registrar<span class="glyphicon glyphicon-save"></span></button>
                </form>                
        </div>
    </div>
</div>
<div class="panel panel-info" id="listpanel">
    <div class="panel-heading" align="center">
        <div class="row">
            <div class="col-md-9">
                <h4>Tipo de usuario</h4>
            </div>
            <div class="col-md-3">
                <a href="#" id="addtipo" class="btn btn-info pull-right"> Nuevo registro</a>
            </div>
        </div>
        <!-- <strong>Tipo de usuarios</strong> -->
    </div>
    <div class="panel-body">
        <table cellspacing="0" class="table table-hover" id="tabla_productos">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Opciones</th>
            </tr>
            </thead>
            <tbody>
            {% for lista in listas %}
            <tr id="tr{{p.id}}">
                <td>{{lista.tipo}}</td>
                <td>{{lista.descripcion}}</td>
                <td>
                    <a href="#" >Editar</a>
                    <button value="{{lista.id}}" class="btn btn-danger btnEliminar"><span class="glyphicon glyphicon-trash"></span></button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>    
    </div>
</div>


<script>
$(document).ready(function(){
    $("#addform").hide();
    $(".btnEliminar").click(function(){
        var id = $(this).val();
        var r = confirm("Seguro de eliminar?"+id);
        if (r==true){
        $.ajax({
            data:{'id':id},
            url:"perfil/tipodel/",
            type:'get',
            success:function(){                                               
            $("#contenido").load("{% url 'perfil_app:tipo' %}");
            },
        });
        
        }else{
            $("#contenido").load("{% url 'perfil_app:tipo' %}");
        }
    });
    $("#addtipo").on('click', function(){
        $("#listpanel").hide();
        $("#addform").show();
    });
    $('#tipoform').on('submit', function(e){
        e.preventDefault();
        $.ajax({
            type:'POST',
            url:'/perfil/tipo/add/',
            data:{
                tipo:$('#tipo').val(),
                descripcion:$('#descripcion').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
            },
            success:function(){                                               
                alert("Registro satisfactorio!!!");
                $("#addform").hide(1000);
                $("#contenido").load("{% url 'perfil_app:tipo' %}");
            },
        });
    });
});
</script>
