{% extends "base.html" %}
{% block titulo %}
	Regitrar huesped
{% endblock titulo %}

{% block contenido %}
<div class="container">
	<div class="page-header">
		<h4>
			<a href="{% url 'perfiles_app:huesped' %}" class="btn btn-info">
				<span class="glyphicon glyphicon-chevron-left"></span>Regresar
			</a>
			<strong>Registrar huesped</strong>
		</h4>
	</div>{# page-header #}
	<div>
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}

			<div class="row">
				<div class="col-sm-4">
			        <label >Nombres:</label>
			        <input class="form-control" id="id_nombre" name="nombre" type="text">
			    </div>
			 	<div class="col-sm-4">
			        <label >Apellidos:</label>
			        <input class="form-control" id="id_apellidos" name="apellidos" type="text">
			    </div>
			    <div class="col-sm-4">
			        <label >DNI:</label>
			        <input class="form-control" id="id_dni" name="dni" type="number">
			    </div>
			    <div class="col-sm-4">
			        <label >Fecha de Nacimiento:</label>
			        <input class="form-control" id="id_fecha_nac" name="fecha_nac" type="date">
			    </div>
			    <div class="col-sm-4">
	                <label>Género:</label> 
	                <select id="id_sexo" name="sexo" class="form-control">
	                    <option value="M">Masculino</option>
	                    <option value="F">Femenino</option>
	                </select>
	            </div>
	            <div class="col-sm-4">
			        <label>Teléfono:</label>
			        <input class="form-control" id="id_telefono" name="telefono" type="text">
			    </div>
			    <div class="col-sm-4">
			        <label>Nacionalidad:</label>
			        <input class="form-control" id="id_nacionalidad" name="nacionalidad" type="text">
			    </div>
			    <div class="col-sm-4">
			        <label>Procedencia:</label>
			        <input class="form-control" id="id_procedencia" name="procedencia" type="text">
			    </div>
			</div>
			<button type="submit/button" class="btn btn-success pull-right">Registrar<span class="glyphicon glyphicon-chevron-right"></span></button>
		</form>
	</div>
</div>
{% endblock contenido %}
