{% extends "base.html" %}
{% block titulo %}
	Main
{% endblock titulo %}
{% block estilos %}
<style>
</style>
{% endblock estilos %}
{% block contenido %}
	<h1 class="page-header">Bienvenidos al sistema de Hoteles </h1>
        <p>
        	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error modi consequatur reprehenderit suscipit ipsam eum in nostrum corporis similique, tempore, eius nobis esse ipsa itaque recusandae necessitatibus optio iste temporibus.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque vitae maiores neque tempore, consequatur reprehenderit rerum tempora delectus veniam animi, commodi magni iste dolorem quos ipsam fuga voluptatibus accusamus explicabo.</p>		
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque inventore dignissimos at quos dicta est corporis eaque pariatur asperiores corrupti modi rem esse quia, repudiandae laborum architecto molestias, ex magni.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam impedit, ab, eveniet hic similique illum aliquam dolore nulla unde fugit sequi suscipit consequuntur dolorum aut? Nam minus quo, porro delectus.</p>
        <a href="#" class="btn btn-info">Aceptar</a>
        <button class="btn btn-warning">Aceptar</button>
		  
      </div>
 
{% endblock contenido %}