{% extends "base.html" %}
{% block titulo %}
	Bienvenidos al Sistema Hotelero
{% endblock titulo %}
{% block estilos %}
<style>
</style>
{% endblock estilos %}
{% block contenido %}
{% spaceless %}
    <div class="page-header">
        <h2>
            <strong>
                Bienvenido al sistema "Antahuara INN SAC"
            </strong>
            <a href="{% url 'hotel_app:addRegistro' %}" class="btn btn-primary pull-right">
                <span class="glyphicon glyphicon-plus">Nuevo registro</span>
            </a>
        </h2>
    </div><!-- page-header -->
{% endspaceless %}
    {# {% lorem 3 p random %} #}
        <div class="row">
      {% for room in lista %}          
            <div class="col-md-3">
                    {% ifequal  room.estado 'libre' %} 
                    <a href="{% url 'hotel_app:updHabitacion' room.pk %}">
                    <div class="card green summary-inline">
                    {% endifequal %}
                    {% ifequal  room.estado 'reservado' %} 
                    <a href="{% url 'hotel_app:addReserva'%}">
                    <div class="card white summary-inline">
                    {% endifequal %}
                    {% ifequal  room.estado 'ocupado' %} 
                    <a href="{% url 'hotel_app:addReserva'%}">
                    <div class="card red summary-inline">
                    {% endifequal %}
                    {% ifequal  room.estado 'limpiar' %} 
                    <a href="{% url 'hotel_app:updHabitacion' room.pk %}">
                    <div class="card blue summary-inline">
                    {% endifequal %}
                        <div class="card-body">
                            <i class="icon fa fa-bed fa-3x"></i>
                            <i class="fa-1x"><strong>{{room.estado}}</strong></i>
                            <div class="content">
                            <i>Habitación</i>
                                <div class="title">{{room.numero}}</div>
                                <div class="sub-title">Piso: {{room.piso}} | {{room.tipo | upper}}</div>
                            </div>
                            <div class="clear-both"></div>
                        </div>
                    </div>                   
                </a>
            </div>
      {% endfor %}
        </div>
 
{% endblock contenido %}