{% extends "base.html" %}
{% block titulo %}
    Admin
{% endblock titulo %}
{% block estilos %}
{% endblock estilos %}
{% block contenido %}
    <div class="page-header">
        <h2>
            <strong>
                Administracion de sucursales
            </strong>            
        <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#miventana" >
            <span class="glyphicon glyphicon-plus">Nuevo registro</span>
        </button>
        </h2>        
    </div><!-- page-header -->

<div>
    <table class="table table-striped table-condenced table-hover">
        <thead>
            <th>RUC</th>
            <th>Razon Social</th>
            <th>Dirección</th>            
            <th>Opciones</th>
        </thead>
        <tbody>
            {% for lista in listas  %}
            <tr>
                <td>{{lista.ruc}}</td>
                <td>{{lista.razon_social}}</td>                
                <td>{{lista.direccion}}</td>
                <td>
                    <a href="#" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-eye-open"></span></a>
                    <a href="{% url 'u_sucursal' lista.pk %}" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>   
            {% endfor %}
        </tbody>
    </table>
</div>


        <div class="modal fade" id="miventana" tapindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4>Registrar nuevo sucursal</h4>
                    </div>
                    <div class="modal-body">
                        <form class="" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}

                                {% if form.error %}
                                <div class="alert alert-danger" role="alert">
                                    {{form.error}}
                                </div>                      
                                {% endif %}

                                <div class="row">
                                <div class="col-md-12">                                 
                                  {{form.as_p}} 
                                </div>
                                </div>
                    </div>
                    <div class="modal-footer">
                                <button type="submit/button" class="btn btn-success pull-right">Registrar<span class="glyphicon glyphicon-save"></span></button>
                                
                        </form>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
{% endblock contenido %}