<div id="addform">
    <div class="panel panel-info">
        <div id="crear_tit"class="panel-heading" align="center">Agregar nuevo tipo de usuario</div>
        <div id="actualizar_tit" class="panel-heading" align="center">Actuializando registro</div>
        <div class="panel-body">
            <input type="hidden" name="" id="mid" value="">
                <form id="tipoform">{% csrf_token %}
                    <div class="form-group">
                      <label for="tipo">Tipo de usuario:</label>
                      <input type="text" class="form-control" id="tipo" placeholder="Tipo de usuario" required>
                    </div>
                    <div class="form-group">
                      <label for="descripcion">Tipo de usuario:</label>
                      <input type="text" class="form-control" id="descripcion"
                      placeholder="Ingrese una descripcion" required>
                    </div>
                    <button id="btnRegistrar" type="button" class="btn btn-success pull-right">Registrar<span class="glyphicon glyphicon-save"></span></button>
                    <button id="btnActualizar" class="btn btn-info pull-right">Actualizar<span class="glyphicon glyphicon-save"></span></button>
                </form>                
        </div>
    </div>
</div>
<div class="panel panel-info" id="listpanel">
    <div class="panel-heading" align="center">
        <div class="row">
            <div class="col-md-9">
                <h4>Tipo de usuario</h4>
            </div>
            <div class="col-md-3">
                <a href="#" id="addtipo" class="btn btn-info pull-right"> Nuevo registro</a>
            </div>
        </div>
        <!-- <strong>Tipo de usuarios</strong> -->
    </div>
    <div class="panel-body">
        <table cellspacing="0" class="table table-hover" id="tabla_productos">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Opciones</th>
            </tr>
            </thead>
            <tbody>
            {% for lista in listas %}
            <tr id="tr{{p.id}}" style="cursor:pointer" class="datatable">
                <td>{{lista.tipo}}</td>
                <td>{{lista.descripcion}}</td>
                <td>
                    <button value="{{lista.id}}" class="btn btn-info btnEditar"><span class="glyphicon glyphicon-pencil"></span></button>
                    <button value="{{lista.id}}" class="btn btn-danger btnEliminar"><span class="glyphicon glyphicon-trash"></span></button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>    
    </div>
</div>

<script>
$(document).ready(function(){
    function listar(){
       $("#contenido").load("{% url 'perfil_app:tipo' %}");
    }
    $("#addform").hide();
    $(".btnEliminar").click(function(){
        var id = $(this).val();
        var r = confirm("Seguro de eliminar?"+id);
        if (r==true){
        $.ajax({
            data:{'id':id},
            url:"perfil/eliminar_tipo/",
            type:'get',
            success:function(){                                               
                listar();
            },
        });
        }else{
        }
    });
    $("#addtipo").on('click', function(){
        $("#listpanel").hide();
        $("#addform").show();
        $("#btnActualizar").hide();
        $("#actualizar_tit").hide();
    });
    $('#btnRegistrar').on('click', function(e){
        e.preventDefault();
        $.ajax({
            type:'POST',
            url:'/perfil/crear_tipo/',
            data:{
                tipo:$('#tipo').val(),
                descripcion:$('#descripcion').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
            },
            success:function(){                                               
                $("#tipoform")[0].reset();
                alert("Registro satisfactorio");
                $("#addform").hide();
                listar();
            },
        });
    });
    $(".btnEditar").on('click', function(){
        var id = $(this).val();
        $.ajax({
            data:{'id':id},
            url:"perfil/buscar_tipo/",
            type:'get',
            success:function(data){                                               
                $("#listpanel").hide();
                $("#addform").show();
                $("#btnRegistrar").hide();
                $("#crear_tit").hide();
                $("#mid").val(id);
                for(var i=0; i<data.length; i++){
                    $("#tipo").val(data[i].fields.tipo);
                    $("#descripcion").val(data[i].fields.descripcion);
                }
            },
        });
    });
    $("#btnActualizar").on('click', function(e){
        e.preventDefault();
        var id = $("#mid").val();
        $.ajax({
            type:'POST',
            url:'/perfil/actualizar_tipo/',
            data:{
                id_tipo:id,
                tipo:$('#tipo').val(),
                descripcion:$('#descripcion').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
            },
            success:function(){                                               
                $("#tipoform")[0].reset();
                alert("Actualizacion correcta");
                $("#addform").hide();
                listar();
            },
        });
    });
});
</script>
