{% extends "base.html" %}
{% block titulo %}
	Add registro
{% endblock titulo %}
{% block mijs %}

{% endblock mijs %}
{% block contenido %}
<div class="container">
	<div class="page-header">
		<h4>
			<a href="{% url 'hotel_app:registro' %}" class="btn btn-info">
				<span class="glyphicon glyphicon-chevron-left"></span>Regresar
			</a>
			<strong>Nuevo registro</strong>
		</h4>
	</div>{# page-header #}
	<div>
		<form class="" method="POST" enctype="multipart/form-data">
			{% csrf_token %}

			{% if form.error %}
			<div class="alert alert-danger" role="alert">
				{{form.error}}
			</div>						
			{% endif %}

			<div class="row">
		      <div class="col-sm-4">
		        <label >Fecha de ingreso</label>
		        <input class="form-control" id="id_fec_ingreso" name="fec_ingreso" type="date">
		      </div>

		      <div class="col-sm-4">
		        <label >Huesped</label>
		        <div>
		        {{form.huesped}}
		        </div>
		      </div>

		      <div class="col-sm-4">
		        <label>Habitación</label>
		        <div>
		        {{form.habitacion}}
		        </div>
		      </div>		      
		    </div>
			
			<div class="row">
			<div class="col-sm-4">
		        <label >Fecha de Salida</label>
		        <input class="form-control" id="id_fec_salida" name="fec_salida" type="date">
		    </div>


			<div class="col-sm-4">
                <label>Tipo de Pago :</label> 
                <select id="id_forma_pago" name="forma_pago" class="form-control">
                    <option value="Efectivo">Efectivo</option>
                    <option value="Tarjeta">Tarjeta</option>
                </select>
            </div>

			<div class="col-sm-4">
			<label>Costo de alojamiento</label>
		    <div class="input-group">
			  <span class="input-group-addon">S/. $</span>
			  <input type="number" class="form-control" id="id_tarifa" name="tarifa" aria-label="Amount (to the nearest dollar)">
			  <span class="input-group-addon">.00</span>
			</div>
			</div>

		    <button type="submit/button" class="btn btn-success pull-right">Registrar<span class="glyphicon glyphicon-chevron-right"></span></button>
			
		</form>

	</div>
</div>
{% endblock contenido %}