{% extends "base.html" %}
{% block titulo %}
	Add registro
{% endblock titulo %}
{% block contenido %}
<div class="container">
	<div class="page-header">
		<h4>
			<a href="#">
				<span class="fa fa-info-circle fa-lg"></span>
			</a>
			<strong>Nuevo registro de hospedaje</strong>
		</h4>
	</div>{# page-header #}
	<form class="" method="POST" enctype="multipart/form-data">
			{% csrf_token %}

			{% if form.error %}
			<div class="alert alert-danger" role="alert">
				{{form.error}}
			</div>						
			{% endif %}

			<div class="row">
		      <div class="col-sm-4">
		        <label >Fecha de ingreso</label>
		        {{form.fec_ingreso}}
		      </div>

		      <div class="col-sm-4">
		        <label >Huesped</label>
		        <div class="input-group">
		        {{form.huesped}}{{filter}}		        
		        <span class="input-group-addon"><a href="{% url 'perfiles_app:addHuesped' %}"><i class="fa fa-plus"></i></a></span>
		        </div>
		      </div>

		      <div class="col-sm-4">
		        <label>Habitación</label>
		        <div class="input-group">
		        {{form.habitacion}}{{linenumbers}}
		        <span class="input-group-addon"><a href="{% url 'hotel_app:addHabitacion' %}"><i class="fa fa-plus"></i></a></span>
		        </div>
		      </div>	
		    </div>
		    <div class="row">

			<div class="col-sm-4">
		        <label >Fecha de Salida</label>
		        {{form.fec_salida}}
		    </div>
			<div class="col-sm-4">
                <label>Forma de Pago :</label> 
                {{form.forma_pago}}
            </div>

			<div class="col-sm-4">
				<label>Costo de alojamiento</label>
			    <div class="input-group">
				  <span class="input-group-addon">S/. $</span>
				  {{form.tarifa}}
				  <span class="input-group-addon">.00</span>
				</div>
			</div>
			</div>
			<div>
			<div class="pull-right">
		    <button type="submit/button" class="btn btn-success pull-right">Registrar<span class="glyphicon glyphicon-save"></span></button>
		    </div>
		    <div class="btn-group pull-left">
			    <a href="{% url 'hotel_app:registro' %}" class="btn btn-default">Ir a lista</a>
			    <a href="{% url 'perfiles_app:main' %}" class="btn btn-default ">Ir al inicio </a>
		    </div>
		    
			</div>
	</form>
</div>
{% endblock contenido %}