{% extends "base.html" %}
{% block titulo %}
	Add registro
{% endblock titulo %}
{% block mijs %}
<script type="text/javascript">
  $(document).ready(function() {
    // Checking support for <input type="date"> using Modernizr:
    // http://modernizr.com/
    if (!Modernizr.inputtypes.date) {
      var options = {
        dateFormat: 'yy-mm-dd'
      };
      $('#{{ form.fec_ingreso.id }}').datepicker(options);
    }
  });
</script>
{% endblock mijs %}
{% block contenido %}
<div class="container">
	<div class="page-header">
		<h4>
			<a href="{% url 'hotel_app:registro' %}" class="btn btn-info">
				<span class="glyphicon glyphicon-chevron-left"></span>Regresar
			</a>
			<strong>Nuevo registro</strong>
		</h4>
	</div>{# page-header #}
	<div>
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}

			{% if forms.error %}
			<div class="alert alert-danger" role="alert">
				{{form.error}}
			</div>						
			{% endif %}
			<div class="form-group">
				<label>Fecha ingreso:</label>

				Start Date:{{ form.fec_ingreso }}&nbsp;				
			</div>					
			<div class="form-group">
			   <label>Huesped</label>
				{{form.huesped}}
			</div>	
			<div class="form-group">
			    <label>Habitacion</label>
				{{form.habitacion}}
			</div>	
			<div class="form-group">
				<label for="">Fecha salida</label>
				{{form.fec_salida}}
			</div>
			<div class="form-group">
				<label for="">Tarifa</label>
				{{form.tarifa}}
			</div>
			<div class="form-group">
				<label for="">Forma de pago</label>
				{{form.forma_pago}}
			</div>

			<button type="submit/button" class="btn btn-success pull-right">Registrar<span class="glyphicon glyphicon-chevron-right"></span></button>
		</form>
	</div>
</div>
{% endblock contenido %}