{% extends "base.html" %}
{% block title %}
	Confirma eliminar
{% endblock title %}
{% block contenido %}
<div class="container">
<div class="page-header">
		<h4>
			<a href="{% url 'hotel_app:habitacion' %}" class="btn btn-warning">
				<span class="glyphicon glyphicon-chevron-left"></span>Regresar
			</a>
			<strong>Eliminar registro</strong>
		</h4>
	</div>
	<form method="POST">{% csrf_token %}

	<div class="alert alert-danger">
	<span class="glyphicon glyphicon-exclamation-sign"></span>
	  <strong>Cuidado!</strong> Estas seguro de querer eliminar : "<strong>{{ object }}</strong>" ?
	</div>		
		<button type="submit/button" class="btn btn-success pull-right">Estoy seguro<span class="glyphicon glyphicon-chevron-right"></span></button>
	</form>	
</div>
{% endblock contenido %}