{% extends "base.html" %}
{% block title %}
	Acualizar registro
{% endblock title %}

{% block contenido %}
<div class="container">
	<div class="page-header">
		<h4>
			<a>
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<strong>Detalle del huesped</strong>
		</h4>
	</div>{# page-header #}
<div>

<table class="table table-hover">
    <thead align="center">
      <tr>
        <th colspan="2">Detalles</th>        	
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Huesped</td>
        <td>{{lista.huesped}}</td>        
      </tr>
      <tr>
        <td>Habitación</td>
        <td>{{lista.habitacion}}</td>        
      </tr>
      <tr>
        <td>Fecha de ingreso</td>
        <td>{{lista.fec_ingreso}}</td>
      </tr>
      <tr>
        <td>Fecha de salida</td>
        <td>{{lista.fec_salida}}</td>
      </tr>
      <tr>
        <td>Forma de pago</td>
        <td>{{lista.forma_pago}}</td>
      </tr>
      <tr>
        <td>Costo total de alojamiento</td>
        <td>{{lista.tarifa}}</td>
      </tr>
    </tbody>
  </table>

</div>
{% endblock contenido %}