{% extends "base.html" %}
{% block titulo %}
	Registro
{% endblock titulo %}

{% block contenido %}

<div class="page-header">
	<h4>
		<strong>
			Tienes <span class="label label-warning">{{cantidad}}</span> registro(s)
		</strong>

		<a href="{% url 'hotel_app:addRegistro' %}" class="btn btn-primary pull-right">
			<span class="glyphicon glyphicon-plus">Nuevo registro</span>
		</a>
	</h4>
</div><!-- page-header -->

<div>
	<table class="table table-striped table-condenced table-hover">
		<thead>
			<tr>
				<th>Fecha Ingreso</th>
			    <th>Huesped</th>
			    <th>Habitación</th>
			    <th>Fecha salida</th>
			    <th>Costo</th>
			    <th>Forma pago</th>
			    <th>Opciones</th>
			</tr>
		</thead>
		<tbody>
		{% for registro in lista %}		
			<tr>
				<td>{{registro.fec_ingreso}}</td>
				<td>{{registro.huesped}}</td>
				<td>{{registro.habitacion}}</td>
				<td>{{registro.fec_salida}}</td>
				<td>{{registro.tarifa}}</td>
				<td>{{registro.forma_pago}}</td>
				<td>
					<a href="#" class="btn btn-success btn-xs"> <span class="glyphicon glyphicon-eye-open"></span></a>
					<a href="{% url 'hotel_app:updRegistro' registro.pk %}" class="btn btn-warning btn-xs"> <span class="glyphicon glyphicon-pencil"></span></a>
					<a href="{% url 'hotel_app:delRegistro' registro.pk %}" class="btn btn-danger btn-xs"> <span class="glyphicon glyphicon-trash"></span></a>
				</td>
			</tr>	
		{% endfor %}
		</tbody>	
	</table>

</div>
{% endblock contenido %}